<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-title text-center gutter-ele-bottom-tbs">{{ page.title }}</h1>
      <div class="page-content w100">
        <div class="rte">
          <input type="email" name="csvemail" id="csvemail" disabled><br>
          <br>
          <input type="file" name="csvfile" id="csvfile"><br>
          <br>
          <a href="javascript:void(0);" onclick="csvupload()">SUBMIT</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script>
   const queryString = window.location.search;
   const urlParams = new URLSearchParams(queryString);
   const submited_date = urlParams.get('timestamp');
   const submited_token = urlParams.get('token');
   const submited_id = urlParams.get('id');
   var decrypt_email;
   if(submited_date && submited_token && submited_id)
   {
   var date1 = submited_date;
   var date2 = new Date();
   var diff = date2.valueOf() - date1;
   var fi = diff/1000/60/60;
   //alert({{settings.token_expire}});
   if(fi > {{settings.token_expire}})
   {
     alert("token is expired");
   }
     else
   {
  // alert(submited_id);
   var dec_email = CryptoJS.AES.decrypt(submited_id, "secret key 123");
     decrypt_email = dec_email.toString(CryptoJS.enc.Utf8);
   //alert(decrypt_email);
   document.getElementById("csvemail").value = decrypt_email;
   }
   console.log(submited_date);
   console.log(fi);
   }
   else
   {
     window.location.href = "/";
   }
   function csvupload()
     {
       var file_data = $("#csvfile").prop("files")[0];   // Getting the properties of file from file field
       var form_data = new FormData();                  // Creating object of FormData class
       form_data.append("file", file_data);              // Appending parameter named file with properties of file_field to form_data
       form_data.append("id", decrypt_email);
       form_data.append("token", submited_token);
       form_data.append("shop", "draftorder199.myshopify.com");
       //alert(JSON.stringify(form_data));
       $.ajax({
                 url: "http://localhost:8888/verify_token/tokenverify.php",
                 dataType: 'text',
                 cache: false,
                 contentType: false,
                 processData: false,
                 data: form_data,                         // Setting the data attribute of ajax with file_data
                 type: 'post'
        },function(data,status){
           alert("Data: " + data + "\nStatus: " + status);
       });
       // $.post("http://localhost:8888/verify_token/tokenverify.php",
       // {
       // id: decrypt_email,
       // token: submited_token,
       // file:
       // shop: "https://draftorder199.myshopify.com/"
       // },
       // function(data,status){
       // alert("Data: " + data + "\nStatus: " + status);
       // });

     }
</script>
