<div class="container">
  <div class="row">
    <div class="col-xs-12">
    	<h1 class="page-title text-center gutter-ele-bottom-tbs">{{ page.title }}</h1>
      <div class="page-content w100">
        <div class="rte">
         <input type = "email" name="csvemail" id="csvemail"><br><br><br>
         <input type = "file" name="csvfile" id="csvfile"><br><br>
          <a href ="javascript:void()">SUBMIT</a>
        </div>        
      </div>
    </div>
  </div>
</div>
<script>
const queryString = window.location.search;  
const urlParams = new URLSearchParams(queryString);  
const submited_date = urlParams.get('timestamp');   
const submited_token = urlParams.get('token');
const submited_id = urlParams.get('id');
if(submited_date && submited_token && submited_id) 
{
var date1 = submited_date;
var date2 = new Date();
var diff = date2.valueOf() - date1; 
var fi = diff/1000/60/60;
if(fi > 1)
{
  alert("token is expired");
}
  else
{
   alert("token is valid");
}
  console.log(submited_date);
console.log(fi);
}
else
{
  window.location.href = "/";
}
</script>  