<style>
    .main-form #csvemail, .main-form #csvfil {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .main-form a {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 15px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .main-form a:hover {
      background-color: #45a049;
    }

    div.main-form {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      width:70%;
      margin:auto;
    }
    .success-msg{
      color:#270;
    }
    .error-msg{
      color: #D8000C;
    }
    .loader {
    border: 10px solid #f2eaea; /* Light grey */
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top:20px;
    display:none;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-title text-center gutter-ele-bottom-tbs">{{ page.title }}</h1>
      <div class="page-content w100">
        <div class="rte main-form">
          <label for="csvemail">Email</label>
          <input type="email" name="csvemail" id="csvemail" disabled><br>
          <label for="csvfile">File upload (CSV Only)</label><br>
          <input type="file" name="csvfile" id="csvfile"><br>
          <br>
          <div class="action-containe text-center">
            <a href="javascript:void(0);" onclick="csvupload()">SUBMIT</a>
            <div class="loader"></div>
          </div>
          <P class="error-msg"></P>
          <P class="success-msg"></P>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script>
   const queryString = window.location.search;
   const urlParams = new URLSearchParams(queryString);
   const submited_date = urlParams.get('timestamp');
   const submited_token = urlParams.get('token');
   const submited_id = urlParams.get('id');
   var decrypt_email;
   if(submited_date && submited_token && submited_id)
   {
   var date1 = submited_date;
   var date2 = new Date();
   var diff = date2.valueOf() - date1;
   var fi = diff/1000/60/60;
   //alert({{settings.token_expire}});
   if(fi > {{settings.token_expire}})
   {
     alert("token is expired");
   }
     else
   {
  // alert(submited_id);
   var dec_email = CryptoJS.AES.decrypt(submited_id, "secret key 123");
     decrypt_email = dec_email.toString(CryptoJS.enc.Utf8);
   //alert(decrypt_email);
   document.getElementById("csvemail").value = decrypt_email;
   }
   console.log(submited_date);
   console.log(fi);
   }
   else
   {
     window.location.href = "/";
   }
   function csvupload()
     {

       var file_data = $("#csvfile").prop("files")[0];   // Getting the properties of file from file field
       var form_data = new FormData();                  // Creating object of FormData class
       form_data.append("file", file_data);              // Appending parameter named file with properties of file_field to form_data
       form_data.append("id", decrypt_email);
       form_data.append("token", submited_token);
       form_data.append("shop", "draftorder199.myshopify.com");
       if(file_data && $("#csvemail").val())
       {
        $(".loader").css("display","block");
       //alert(JSON.stringify(form_data));
       $.ajax({
                 url: "http://localhost:8888/verify_token/tokenverify.php",
                 dataType: 'text',
                 cache: false,
                 contentType: false,
                 processData: false,
                 data: form_data,                         // Setting the data attribute of ajax with file_data
                 type: 'post'
       }).done(function(response){
                    if(response == "Done")
                    {
                      $(".success-msg").text("Successfully uploaded");
                    }
                    else
                    {
                      $(".error-msg").text("Token and email id is not valid");
                    }
                     $(".loader").css("display","none");
                    }).fail(function(error){
                      $(".error-msg").text("Token and email id is not valid");
                      $(".loader").css("display","none");
                    });
       }
       else
       {
         $(".error-msg").text("Please enter email and select file");
       }
       // $.post("http://localhost:8888/verify_token/tokenverify.php",
       // {
       // id: decrypt_email,
       // token: submited_token,
       // file:
       // shop: "https://draftorder199.myshopify.com/"
       // },
       // function(data,status){
       // alert("Data: " + data + "\nStatus: " + status);
       // });

     }
</script>
