<div class="container">
  <div class="row">
    <div class="col-xs-12">
    	<h1 class="page-title text-center gutter-ele-bottom-tbs">{{ page.title }}</h1>
      <div class="page-content w100">
        <div class="rte">
          {{ page.content }}
        </div>        
      </div>
    </div>
  </div>
</div>
<script>
const urlParams = new URLSearchParams(queryString);  
const submited_date = urlParams.get('timestamp');  
var date1 = submited_date;
var date2 = new Date();
var diff = date2.valueOf() - date1; 
var fi = diff/1000/60/60;
if(fi > 1)
{
  alert("token is expired");
}
  else
{
   alert("token is valid");
}
console.log(fi);
</script>  